*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.headcontainer{
    width: 80%;
    margin:  0px auto;
    padding: 0px;
    /* border: 2px solid black; */
}
.formlogo{
    width: 25%;
    margin: 20px auto;
    padding: 0px;    
    /* border: 1px solid rgb(217, 18, 18); */
    display: block;
}
.headcontainer-two{
    width: 100%;
}
.socialicons{
    width: 20px;
    /* align-items: start; */
    display: inline-block;
    margin: 10px;
}
.headicons{
    width: 28%;
    display: inline-block;
}
.headtext{
    margin: auto 20px;
    text-align: center;
    display: inline-block;
    width: 37%;
    font-size: 1.5rem;
}
.headtext h1{
    font-size: 3rem;
}

.headbutton{
     align-items: end;
     display: inline-block;
     margin: 10px;
     /* border: 2px solid black; */
     padding: 5px 10px;
     position: relative;
     left: 150px;
}
.formcontainer{
    width: 70%;
    margin:  0px auto;
    padding: 0px;
}
.formcontainer label{
}