*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.headcontainer{
    width: 70%;
    margin: auto;
    border: 2px solid black;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;
    text-align: center; */
}
.formlogo{
    width: 20%;
    margin: 20px auto;
    padding: 0px;    
    border: 1px solid rgb(217, 18, 18);
    /* display: block; */
}
.socialicons{
    width: 20px;
    display: inline;
    align-items: start;
}