*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.headcontainer{
    width: 70%;
    margin: auto;
    background-color: rgb(255, 0, 0);
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}
.formlogo{
    width: 25%;
    margin: 0px auto;    
    border: 1px solid white;
    /* display: block; */
}
.socialicons{
    width: 20px;
    display: inline;
    align-items: start;
}